body {
    background-image: url("../images/sheri-silver-1342673-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.row {
    width: 100%;
}
#trivia {

}

#directions {

}

#picture {
    
}

#quiz {
   
}

#options {
   
}

#timer {
    
}

#results {
    

